body {
  height: 90vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-for-border {
  width: 200px;
  height: 200px;
  background-color: grey;
  border: 50px solid transparent;
  border-image: url("./assets/skull.png") 80 80 80 80 stretch;
}