body {
  height: 90vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-for-border {
  width: 200px;
  height: 200px;
  background-color: grey;
}